services:
  db:
    image: docker.io/postgres:17.6
    container_name: postgres_agro
    environment:
      POSTRGRES_URL: ${POSTRGRES_URL}
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "postgres" ]
      interval: 30s
      timeout: 5s
      retries: 5
      start_period: 30s
  devbox:
    build:
      context: .
      dockerfile: .devcontainer/Dockerfile
    container_name: devbox_agro
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data:
